/* ============= RESET STYLES ============= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ============= END RESET STYLES ============= */

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*--third-font: "Oleo Script", cursive;*/
  --header-color: #212121;
  --content-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --silver-backgr: #f5f4fa;
  --dark-backgr: #2f303a;
  --btm-hover: #188ce8;
  --header-line: #ececec;
  --work-card-border: #eeeeee;
  --padding-value: 94px;
  --hero-bkg-color: #c4c4c4;
  --social-link-color: #afb1b8;
}

body {
  font-family: var(--main-font);
  /*background: #e5e5e5;*/
  color: var(--content-color);
}

header {
  background: var(--white-color);
  border-bottom: 1px solid var(--header-line);
}

/*  Это патерн для крытия логических заголовков */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============= COMPONENTS ============= */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */
.header {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  animation-duration: 3000ms;
}

/* НЕ ЗНАЮ НУЖНЫ ЛИ ЭТИ ЭФФЕКТЫ НА ЛОГОТИПЕ, НО НА ВСЯКИЙ СЛУЧАЙ СДЕЛАЛ. ПРИМЕНЯЕТСЯ И В ШАПКЕ И В ФУТЕРЕ*/
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-studio-header {
  color: var(--header-color);
}

.logo-studio-footer {
  color: var(--white-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-links:hover,
.navigation-links:focus {
  color: var(--accent-color);
}
/* Это пример дочернего селектора (пример для себя)
/*.navigation-links > .current*/

.current {
  position: relative;
  color: var(--accent-color);
  font-size: 66;
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);

  /*display: none; */
}

.header-contacts {
  margin-left: auto;
}

.header .header-contacts {
  display: flex;
  align-items: center;
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);

  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts-icon svg:hover,
.header-contacts-icon svg:focus,
.contact-links:hover,
.contact-links:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* ============= END HEADER ============= */

.hero-backgr {
  background: var(--dark-backgr);

  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-studio-bkg.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bkg-color);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.order-service-btm {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin: 0 auto;
  padding: 10px 32px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btm:hover,
.order-service-btm:focus {
  color: var(--white-color);
  background: var(--btm-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /*transform: translate(-10%, -10%);*/
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btm {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.close-btm-svg:hover {
  fill: var(--accent-color);
}

.close-btm-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--header-color);
}

.modal-form-title {
  /* display: inline-block;*/
  display: block;
  font-style: 700;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 30px;

  color: var(--header-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-comments-wrapper {
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desck {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
  color: var(--content-color);
}

.modal-form-check-desck::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--header-color);
  margin-right: 8px;
}

.modal-form-consent:checked + .modal-form-check-desck::before {
  background-color: var(--accent-color);
  background-image: url("../images/checkmark-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form-consent:focus + .modal-form-check-desck::before {
  border: 1px solid var(--accent-color);
}

.modal-submit-btm {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.06em;
  align-self: center;

  /*width: 200px;
  height: 50px;*/
  /*margin: 0 auto;*/

  padding: 10px 50px;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btm:hover,
.modal-submit-btm:focus {
  background: var(--btm-hover);
}

/* =============  STUDIO. ADVANTAGES SECTION  ============= */

.advantages-section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}
.advantages-list {
  display: flex;
  /* padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);*/
  margin-left: -30px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.advantages-svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: var(--silver-backgr);
  border-radius: 4px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ============= END  STUDIO. ADVANTAGES SECTION ============= */

/* =============  STUDIO. SECTION: WHAT WE DO  ============= */

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);

  margin-bottom: 50px;
}

.what-we-do-section {
  padding-bottom: var(--padding-value);
}

.what-we-do-list {
  display: flex;
  margin-left: -30px;

  /*z-index: 1;*/
}

.what-we-do-item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.what-we-do-title-wrapper {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  /*width: 370px;*/
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.what-we-do-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* =============  STUDIO. END SECTION: WHAT WE DO  ============= */

/* =============  STUDIO. SECTION: OUR TEAM  ============= */

.team-section-bkr {
  background: var(--silver-backgr);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list > li {
  background: var(--white-color);
}

.team-item-wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--content-color);
  fill: var(--social-link-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color);
}

/* ============= STUDIO. END SECTION: OUR TEAM ============= */

.regular-customers-section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

.regular-customers-list {
  display: flex;
  margin-left: -30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--social-link-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-link:hover .customers-list-icon,
.customers-link:focus .customers-list-icon {
  fill: var(--accent-color);
}

.customers-list-item {
  box-sizing: border-box;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

/* ============= STUDIO. SECTION: REGULAR CUSTOMERS  ============= */

/* =============  STUDIO. END SECTION: REGULAR CUSTOMERS  ============= */

/* ============= FOOTER ============= */
footer {
  background: var(--dark-backgr);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

/* !!! Это пример седектора-соседа (коммент для себя) */
.footer-content-item + .footer-content-item {
  margin-left: 70px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  display: block;
  padding-top: 9px;
  padding-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.social-links {
  display: flex;
}

.social-list-link-footer {
  background: rgba(255, 255, 255, 0.1);
}

.social-list-footer {
  margin-left: -10px;
}

.social-list-link-footer {
  box-sizing: border-box;
  flex-basis: calc(100% / 4 - 10px);
  /*fill: var(--white-color);*/
  /*margin-left: 10px;*/
}

.social-list-icon-footer {
  fill: var(--white-color);
}

.soc-link-in-footer {
  margin-left: 10px;
}

.mailing {
  margin-left: 93px;
}

.join {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}

.footer-email-wrapper {
  display: flex;
}

.email-input-footer {
  width: 358px;
  height: 50px;

  background: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;
}

.email-input-footer::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;

  color: rgba(255, 255, 255, 0.6);
}

.email-input-footer:focus {
  color: var(--white-color);
  padding: 15px 16px;
}

.email-input-footer:not(:placeholder-shown) {
  color: var(--white-color);
  padding: 15px 16px;
}

.subscribe-btm {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btm svg {
  margin-left: 10px;
}
/* ============= END FOOTER ============= */

/* ============= PORTFOLIO. SECTION OUR WORKS ============= */
.list-works-btm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-btm-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btm {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-color);
  background: var(--silver-backgr);

  border-radius: 4px;

  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btm:hover,
.filter-btm:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-card-list > li {
  background: var(--white-color);
}

.work-card {
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.works-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.works-overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);

  padding: 63px 24px;
  /*overflow: scroll;*/
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-overlay-link-wrapper:hover .works-overlay-description,
.works-overlay-link-wrapper:focus .works-overlay-description {
  transform: translateY(0%);
}

.work-card:hover,
.work-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-card-content {
  border: 1px solid var(--work-card-border);
  border-top: none;
  padding: 20px 24px;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);

  margin-bottom: 4px;
}

.works-description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--content-color);
}

/* ============= TND  PORTFOLIO. SECTION OUR WORKS ============= */
